/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-dec-2017, 11:49:03
    Author     : wesle
*/

.Guestbook_Box{
    float:left;
    width: 225px;
    height: 500px;
    margin-right: 50px;
}
.Guestbook_Entry_Text_Height{
    margin-bottom: 1px;
}
.Guestbook_FormFormat{
    float:right;
}