* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	}

body {
	background-color: grey;
     }
	 
#container {
	width: 800px;
	height: 800px;
	margin: auto;
	background-color: white;
	}
	
#header {
	width: 800px;
	height: 150px;
	float: left;
	background-color: white;
    }
	

	
.logo {
	height: 84px;
	width: 200px;
}

.content {
	background-color: green;
	width: 75%;
	padding: 20px;
	float: left;
}

.left {
	background-color: yellow;
	width: 25%;
	padding: 20px;
    float: left;
}

@media (max-width:800px) {
  .left, .content, .menu {
    width:100%;/*The width is 100%, when the viewport is 800px or smaller*/
  }
}
