* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	}

body {
	background-color: grey;
	font-family: arial;
        width: 100%;
     }
	 
#container {
        padding-left: 20px;
        padding-right: 20px;
	width: 90%;
	display:block;
        overflow:auto;
	margin: auto;
	background-color: white;
	}
	
#header {
	width: 90%;
	height: 100px;
	margin: auto;
	background-color: white;
    }
	
#menu {
	width: 90%;
	height: 45px;
	margin: auto;
	background-color: #006f9d;
	}

#footer {
	width: 90%;
	height: 45px;
	margin: auto;
	background-color: #006f9d;
        padding-top: 8px;
        padding-left: 8px;
	}
        
.menufooteritems {
        font-size: 20px;
        color: white;
        }
	
.logo {
	height: 84px;
	width: 200px;
        margin-left: 10px;
        margin-top: 8px;
}

.left {
	background-color: white;
	width: 25%;
	padding: 20px;
        float: left;
        border: 2px black solid;
        border-radius: 10px;
        margin-top: 20px;
        margin-right: 65px;
        margin-bottom: 20px;
}

.content {
        margin-top: 20px;
	background-color: white;
	width: 70%;
	padding: 20px;
	float: left;
        border: 2px black solid;
        border-radius: 10px;
        font-size: 20px;
        margin-bottom: 20px;
}

.fullcontent {
        margin-top: 20px;
	background-color: white;
	width: 100%;
	padding: 20px;
	float: left;
        border: 2px black solid;
        border-radius: 10px;
        font-size: 20px;
        margin-bottom: 20px;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 11px;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

a, a:visited {
	color: white;
        text-decoration: none;  
}

@media (max-width:1000px) {
  .left, .content, .menu {
    width:100%;/*The width is 100%, when the viewport is 800px or smaller*/
  }
}


.test {
    
    height: 100px;
    border: 1px solid black;
}

.name {
    text-align: center;
}

.submit {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.Guestbook_FormFormat{

	height: 50px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
        
}

.Guestbook_FormFormatt{

	height: 100px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
        margin-left: 40px;
        
}